.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#user-info {
  border: 1px solid #bbb;
  clear: both;
  margin: 0 auto 10px;
  max-width: 400px;
  padding: 10px;
  text-align: left;
  border-radius: 4px;
}

#photo-container {
  background-color: #EEE;
  border: 1px solid #bbb;
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

#photo {
  height: 80px;
  margin: 0;
  width: 80px;
}

@media (max-width: 300px) {
  #photo-container,
  #photo {
    height: 40px;
    width: 40px;
  }
}

button:disabled,
button[disabled]{
  border: 1px solid #ccc;
  background-color: #ccc;
  color: #666;
}

.prettyprint {
  background: #fff;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  font-size: 1.2rem;
  padding: 2.5rem 3rem;
  -webkit-font-smoothing: antialiased; 

  border: 1px solid #bbb;
  border-radius: 4px;
  word-break: break-word;
}

#user-log {
  text-align: left;
  /* hanging indent */
  text-indent: -1em;
}
